<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>k</title>
    <link th:href= "@{/CSS/main.css} " rel="stylesheet">
    <script type="text/javascript" th:src = "@{/JS/actions.js}"></script>

</head>
<body>
    <h2 th:text="'Thymeleaf ' + ${message} + ' App'"></h2>

    <p>Hello Happy new year......!</p>

    <button type="button" th:onclick="demo()">Show Alert</button>
</body>

</html>



